In [1]:
# Start by importing the quandl package

import quandl

In [2]:
# Then, use the command below will get the Alaska data:

Alaska = quandl.get("FMAC/HPI_AK")
Alaska.head()

            NSA Value   SA Value
Date
1975-01-31  34.427647  34.604936
1975-02-28  34.898074  35.035870
1975-03-31  35.384843  35.407964
1975-04-30  35.913989  35.784216
1975-05-31  36.534766  36.228856